train_test_data.npy
radio_bursts/*
SVM/hyperparam_optimise.npy
Inception/classify_20170902/*
Inception/classify_20170910/*
Inception/classify_20170821/*
Inception/examples/*
Inception/training_imgs/*
Inception/__pycache__/*
simulations/*
Darknet/data/*
Darknet/backup/*
Darknet/darknet19_448.conv.23
Darknet/darknet53.conv.74
Darknet/README.md